<ion-view view-title="Static H">
  <ion-content delegate-handle="collection-repeat-wrap" class="has-header">
    <div collection-repeat="item in watch.items track by UUID"
    item-height="342px"
    item-width="100%"
    >
      <div class="card-wrap">
        <div class="card">
          <div class="item item-divider item-stable, padding-horizontal card-header">
            <div class="caption capitalize">
              {{(item.dateTaken | date:'MM/dd/yyyy @ h:mma')}} [{{item.dim.w}}x{{item.dim.h}}]  {{item.UUID}}
            </div>
          </div>
          <div class="item item-image">
            <div class="photo-wrap">
              <img 
              ng-src="{{ on.getSrc(item, $index) }}" 
              height="{{item.scaledH}}"
              on-photo-load='on.load($event, item, $index)'
              >
            </div>
          </div>
          <div class="item item-positive tabs card-footer">
            <div class="tab-item icon ion-heart"></div>
            <div class="tab-item icon ion-ios-upload-outline"></div>
            <div class="tab-item icon ion-ios-compose"></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
